@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
body{
    font-family: 'Bai Jamjuree', sans-serif;
    overflow-x: hidden;
}
h1,h2,h3{
    color: hsl(210, 10%, 33%);
    margin-bottom:0.75rem;

}
p{
    font-size:18px;
    color:hsl(201, 11%, 66%);
    
}
a{
    text-decoration: none;
    color:#fff;
}
.btn{
    padding:0.75rem 2rem;
    border-radius:50px;
    margin:0 10px;
}
.btn-green{
    background-color:hsl(171, 66%, 44%);

}
.btn-blue{
    background-color: hsl(233, 100%, 69%);
}

.main-infor img{
    width:7%;
}
.main-infor{
    width:100%;
    height:70vh;
    background-image: url("./images/bg-header-desktop.png");
    background-repeat: no-repeat;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
}
.main-txt{
    text-align:center;
    margin:2rem 0 3rem 0;
    width:100%;
}
.main-txt h1{
    font-size:2rem;
}
.main-txt p{
    width:40%;
    margin:auto;
    
}

.flex-container{
    width:100%;
    display:flex;
    justify-content: center;
    
}
.flex-container img{
    width:55%;
}
.flex-container .txt{
    width:50%;
    margin-left:7rem;
    
}
.flex-container .txt div{
    padding-top:4rem;
}
.clipboard {
    display:flex;
    flex-direction:column;
    justify-content:center;
}
.clipboard img{
    width:60%;
    margin:auto;
}
.flex{
    display:flex;
    justify-content: space-around;
    text-align: center;
    margin-top:4rem;
}

.flex .item{
    width:25%;
    line-height: 25px;
}
.flex .item img{
    padding:1.5rem 0;
}
.flex-img{
    margin-top:4rem;
    width:100%;
    display:flex;
    align-items:center;
    justify-content:space-around;
    margin-bottom:4rem;
}
.main-infor-2{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
}
.footer{
    display:flex;
    margin-top:4rem;
    background-color:hsl(206, 30%, 95%);
    justify-content:space-around;
    align-items:center;
    min-height:15vh;
    
}
.footer img{
    width:3%;
    
}
.footer p{
    color:#000;
}
.footer .social-media img{
    width:15%;
    margin:0 0.7rem;
}
footer a{
    font-size:20px;
    

}
@media only screen and (max-width:385px){
    section{
        width:100%;
        overflow:hidden;
        padding-top:2rem;
        
    }
    .main-infor{
        height:90vh;
    }
    .main-infor img{
        width:20%;
    }
    .main-txt p{
        width:90%;
    }
    .gr-btn{
        width:100%;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;

    }
    .btn{
        width:90%;
        display:block;
        margin:1rem 0;
        text-align:center;
    }
    .flex-container{
        flex-direction:column;
        align-items:center;
    }
    .flex-container img{
        width:90%;
    }
    .flex-container .txt{
        width:90%;
        margin:0;
        text-align:center;
    }
    .clipboard img{
        width:90%;
    }
    .flex{
        flex-direction:column;
        justify-content:center;
        align-items:center;

    }
    .flex .item{
        width:90%;
        text-align:center;
        margin:0;
    }
    .flex-img{
        flex-direction:column;
        justify-content:center;

    }
    .flex-img img{
        padding:2rem 0;
    }
    .footer{
        flex-direction:column;
        align-items:center;
        justify-content:center;
    }
    .footer img{
        width:20%;
        padding-top:2rem;
    }
    .footer div{
        text-align:center;
        
    }
    .footer div p{
        padding:1rem 0;
    }
}